h1 {
  background-color: rgb(218, 40, 40);
  color: #fff;
  font-size: 30px;
  border: 1px solid teal;
  border-radius: 5px;
  padding: 25px;
  display: inline-block;
}
h1:hover {
  background-color: #515ff1;
}
